# Logs
logs
*.log

# Dependency directories
node_modules/

# Build files
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Compiled output
*.js
*.js.map

# Package lock files
package-lock.json
yarn.lock
